<h1>Remigiusz Mrotek nr indeksu 52695</h1>
<h3 [className]="zmienKolor">Wprowadzenie do Angulara</h3>
<input [disabled]="isDisabled" (focus)="onFocus()">
<br>
<input [disabled]="isDisabled" (click)="onClick($event)">
<br>
<input [disabled]="isDisabled" (mousemove)="onMouseMove($event)">
<br>
<input [disabled]="isDisabled" (paste)="onPaste()"> {{ inputText }}
<br>
<button (click)="zmienUstawienia()">edytuj</button>
<button [className]="kolorButtona" (click)="zmienKolorButtona()">Zmien kolor</button>